<div class="dropbtn-container">
  <div class="header"> <strong> Aziz Alimov </strong> </div>
  <a href="index.html">Home</a>
  <div class="dropdown">
    <button onclick="dropdown()" class="dropbtn">Coding Projects</button>
    <div id="myDropdown" class="dropdown-content">
     <a href="CodingProjects/BlackKeysWhiteKeys.html">BlackKeysWhiteKeys</a>
     <a href="CodingProjects/Website.html">Website</a>
     <a href="Codingrojects/DiscordBot.html">DiscordBot</a>
    </div>
  </div>
  <a href="JournalPages/Journal.html">Blog</a>
  <a href="ContactPage/Contact.html">Contact</a>
</div>